.gallery {
    display: flex;
    flex-direction: row;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

.gallery-img {
    width: 200px;
    height: 200px;
}